## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x = 4
print("EL NUMERO ES",x)

EL NUMERO ES 4

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(x)

int

4) Crear una variable que contenga tu nombre

In [4]:
mi_nombre="Germán"

5) Crear una variable que contenga un número complejo

In [5]:
numero_complejo=5+5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(numero_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
pi=3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
a='true'
b=True

los valores no son iguales ya que el primero 'true' es un valor string
y la segunda variable true es un valor booleano

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [9]:
print("LA VARIABLE a es de tipo:",type(a),"Y LA VARIABLE b:",type(b))

LA VARIABLE a es de tipo: <class 'str'> Y LA VARIABLE b: <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [10]:
suma=2+5.5

11) Realizar una operación de suma de números complejos

In [11]:
suma1=5+2j
suma2=7+15j

print(suma1+suma2)

(12+17j)

12) Realizar una operación de suma de un número real y otro complejo

In [12]:
suma3=12.6
suma4=24+5j

print(suma3+suma4)

(36.6+5j)

13) Realizar una operación de multiplicación

In [13]:
numero1=65
numero2=87
print(numero1*numero2)

5655

14) Mostrar el resultado de elevar 2 a la octava potencia

In [14]:
potencia=2**8
print(potencia)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [15]:
cociente=27/4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [16]:
valor_entero=27//4
print(valor_entero)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [17]:
resto=27%4
print(resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [18]:
6*4+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [19]:
var3="German "
var4="Rodriguez"
print(var3+var4)

German Rodriguez

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [20]:
"2"==2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [21]:
2==int("2")

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

en python, para colocar un número decimal no debemos colocar coma "," sino que debemos utilizar es el punto "."

In [22]:
a=float("3,8")

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [23]:
valor = 3
valor -=1
print(valor)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

La operación 1 << 2 en Python está realizando un desplazamiento a la izquierda de bits. En términos simples, estás desplazando los bits de la representación binaria del número 1 dos posiciones hacia la izquierda.

En el sistema de numeración binario, el número 1 se representa como 0001. Si aplicas un desplazamiento a la izquierda de dos posiciones, obtendrás 0100. Y en términos decimales, esto es igual a 4.

Entonces, 1 << 2 significa "desplazar el bit 1 a la izquierda dos veces", y el resultado es 4 en base 10.

Aquí hay una explicación más detallada:

Representación binaria de 1: 0001
Desplazamiento a la izquierda de dos posiciones: 0100
Convertir a decimal: 4
En resumen, el resultado de 1 << 2 es 4 porque estás desplazando los bits hacia la izquierda en la representación binaria del número 1.

In [25]:
1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

la operación no se puede realizar ya que el primero es de tipo número y el segundo es entero, si realizamos los dos con tipo número el resultado es 4 y si los dos son enteros, el resultado es 22, ya que no lo toma como valor numerico, sino valor entero y allí esta realizando una cadena de texto

In [24]:
2+"2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [27]:
var7 = "contar hasta "
var8 = 10
print(var7 + str(var8) + " veces")

contar hasta 10 veces